<h2>
    Instructors
</h2>

<div id="instructorContainer">
    <div id="buttons" style="margin: 10px;">
        <button class="btn btn-success" (click)="addInstructor()">Add New Instructor</button>
        <input [(ngModel)]="newInstructor" />
    </div>
    <div *ngFor="let instructor of cachedInstructors.Data" class="well col-md-3" style="margin: 5px;">
        <div class="badge">{{ instructor.FullName }}</div>
        <div>Active: <input type="checkbox" disabled [checked]="instructor.IsActive" /></div>
        <div>
            <button class="btn btn-default" (click)="updateInstructor(instructor.Id)">Update</button>
            <button *ngIf="instructor.IsActive" class="btn btn-danger" (click)="updateInstructorStatus(instructor.Id, false)">Disable</button>
            <button *ngIf="!instructor.IsActive" class="btn btn-success" (click)="updateInstructorStatus(instructor.Id, true)">Enable</button>
            <div [hidden]="!updating || instructor.Id !== selectedInstructorId">
                <label for="newName">Enter updated name</label>
                <input id="newName" #newName /><button class="btn btn-default" (click)="saveInstructor(instructor, newName.value)">Save</button>
            </div>
        </div>
    </div>
</div>